<!--
    <md-dialog ng-cloak flex="50" ng-init="getInfo()">
        <form action="{{ path('intranet_edittask') }}" method="post" id="taskUpdateForm">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>User: {[{allData.taskData[0].title}]}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                  <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-list>
                        <md-list-item>
                            <md-input-container flex-gt-xs>
                                <label>Task Title</label>
                                <input class="" name="taskTitle" ng-model="allData.taskData[0].title" ng-disabled="userRol == 'developer'">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container flex-gt-xs>
                                <label>Task Description</label>
                                <textarea class="dialogTextarea" rows="4" name="taskContent" ng-model="allData.taskData[0].content" ng-disabled="userRol == 'developer'"></textarea>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <div layout-wrap layout="row" ng-if="userRol != 'developer'">
                                <div flex="50" ng-repeat="user in allUsers">
                                    <md-checkbox ng-checked="alreadyIn(user)" ng-click="toggle(user)" name="{[{user.login}]}">
                                        {[{user.nameU}]} {[{user.surnameU}]}
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout-wrap layout="column" ng-if="userRol == 'developer'" style="margin-bottom: 15px">
                                <span style="font-weight: bold">Users in this task:</span><br>
                                <div flex="50" ng-repeat="user in usersInTaskShownToDeveloper" style="margin-left: 10px">
                                        {[{user.nameU}]} {[{user.surnameU}]}
                                </div>
                            </div>
                        </md-list-item>
                        <md-list-item>
                            <span flex></span>
                            <md-button ng-click="update(allData.taskData[0].id)" class="md-raised md-primary" ng-if="userRol != 'developer' && task" ng-disabled="!infoLoaded">Update2</md-button>
                            <md-button ng-click="create()" class="md-raised md-primary" ng-if="userRol != 'developer' && !task">Create</md-button>
                            <md-button ng-click="closeDialog()" class="md-raised md-primary" ng-if="userRol == 'developer'">OK</md-button>
                        </md-list-item>
                    </md-list>
                </div>
            </md-dialog-content>
        </form>
    </md-dialog>
-->

<md-dialog ng-app="settingsApp" ng-cloak flex="40" ng-init="getInfo()">
    <form name="settingsForm" id="settingsForm" method="POST" novalidate>
    <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>User: {[{user.name}]} {[{user.surname}]}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                  <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
    <md-dialog-content ng-init="getCurrentUser()"  class="md-dialog-content">
        <md-list layout="column" ng-cloak="">
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Name{% endtrans %}</label>
                        <input type='text' name="myName" id="myName" ng-model="user.name" required="required">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify a seller.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>            
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Surname{% endtrans %}</label>
                        <input type='text' id="mySurname" name="mySurname" ng-model="user.surname">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify a seller.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Email{% endtrans %}</label>
                        <input type='text' name="myEmail" id="myEmail" ng-model="user.email" required="required" style="width: 250px;" readonly>

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify an email.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Login{% endtrans %}</label>
                        <input type="text" name="myLogin" id="myLogin" value="user.login" readonly>
                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify an email.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Language{% endtrans %}</label><br><br>
                        <md-radio-group ng-model="user.lang" >
                            <md-radio-button id="myLanguage" name="myLanguage" value="es" class="md-primary">
                                ES
                            </md-radio-button>
                                
                            <md-radio-button id="myLanguage" name="myLanguage" value="en" class="md-primary">
                                EN
                            </md-radio-button>
                                
                            <md-radio-button id="myLanguage" name="myLanguage" value="fr" class="md-primary">
                                FR
                            </md-radio-button>
                                
                            <md-radio-button id="myLanguage" name="myLanguage" value="de" class="md-primary">
                                DE
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Notifications{% endtrans %}</label><br><br>
                        <md-checkbox ng-model="user.notifications" id="myNotifications" aria-label="Checkbox 1" class="md-primary">
                            {% trans %}Recibir Notificaciones{% endtrans %}
                        </md-checkbox>
                    </md-input-container>
                </md-list-item>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>Onboard</label><br><br>
                        <md-checkbox ng-model="user.onboard" id="onb" aria-label="Checkbox 2" class="md-primary">
                            {% trans %}Usuario nuevo{% endtrans %}
                        </md-checkbox>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>

        <md-list-item layout-lg="row" layout-xl="row">
            <md-input-container class="md-block">
                <label>{% trans %}Photo{% endtrans %}</label><br>
                <!--<md-button type="file" for="myPhoto" class="md-raised md-primary">AQUI
                </md-button>-->
                <input type='file' id="myPhoto" name="myPhoto"  style="width: 250px;"><img src="user.photo"><!--class="ng-hide"-->
            </md-input-container>
        </md-list-item> 

        <md-list-item>
            <md-button class="md-raised md-primary" id="subm" type="submit" name="update"  ng-click="updateUser(user.id)"><!--ng-disabled="settingsForm.$invalid"-->
                {% trans %}Modify{% endtrans %}
            </md-button>
        </md-list-item>
            
        <input type="hidden" value="user.id" name="id">
        <input type="hidden" id="hiden1" value="{[{ notific }]}">
        <input type="hidden" id="hiden2" value="{[{ languages }]}">
        </md-list>
        </md-dialog-content>
    </form>
</md-dialog>