<style>

    /*the following styles hide the placeholder that "google places" provides in the input to get places*/
    #gplace::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        visibility: hidden;
    }
    #gplace::-moz-placeholder { /* Firefox 19+ */
        visibility: hidden;
    }
    #gplace:-ms-input-placeholder { /* IE 10+ */
        visibility: hidden;
    }
    #gplace:-moz-placeholder { /* Firefox 18- */
        visibility: hidden;
    }
    /*end hidding placeholder from google*/

</style>
<div ng-form name="businessTripForm" layout="row" layout-align="center start" ng-controller="businessTripController" style="background-color:#FDFDFD;">
    <md-list layout="column" ng-cloak="">
        <md-list-item layout-lg="row" layout-xl="row" layout-padding="" ng-include="'{{ path('intranet_forms_header_data') }}'" ng-controller="formHeaderController"></md-list-item>
        <md-list-item layout-lg="row" layout-xl="row" style="margin-bottom: 18px;">
            <md-datepicker ng-model="startDate" md-placeholder="From" md-min-date="today" class="dtNoSpaceAtLeft"></md-datepicker>
            <md-datepicker ng-model="finishDate" md-placeholder="To" md-min-date="minFinishDate"></md-datepicker> <!--se le puede aplicar padding para separarlo del anterior, pero al aplicarse el responsive para dispositivos más pequeños queda feo ya que no se alinean.  -->
        </md-list-item>
        <md-list-item layout-lg="row" layout-xl="row">
            <md-input-container class="md-block">
                <label>{% trans %}location{% endtrans %}*</label>
                <input type="text" id="gplace" ng-model="location" name="businessPlace" required> <!--onclick="$(this).removeAttr('placeholder')"-->
                <div ng-messages="businessTripForm.businessPlace.$error">
                    <div ng-message="required">{% trans %}location_error{% endtrans %}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{% trans %}congress{% endtrans %}</label>
                <input type="text" ng-model="congressName" name="congressName">
            </md-input-container>
        </md-list-item>
        <md-list-item layout-lg="row" layout-xl="row">
            <md-input-container class="md-block" style="width: 100%;">
                <label>{% trans %}reasons{% endtrans %}*</label>
                <textarea ng-model="reasons" name="businessTripReasons" md-maxlength="250" rows="3" style="overflow-y: scroll;" md-select-on-focus required></textarea>
                <div ng-messages="businessTripForm.businessTripReasons.$error">
                    <div ng-message="required">{% trans %}reasons_error{% endtrans %}</div>
                </div>
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-button class="md-raised md-primary" ng-click="forming()" style="margin-top: 40px" ng-disabled="buttonFlag">{% trans %}send{% endtrans %}</md-button><!--si se le da un href o ng-href se comportará como un <a> https://material.angularjs.org/latest/api/directive/mdButton-->
        </md-list-item>
    </md-list>
</div>
