<div name="workAtHomeForm" ng-form layout="row" layout-align="center start">
    <md-list layout="column" ng-cloak="" ng-controller="workAtHomeController">
        <md-list-item layout-lg="row" layout-xl="row" layout-padding="" ng-include="'{{ path('intranet_forms_header_data') }}'" ng-controller="formHeaderController">
        </md-list-item>
        <md-list-item style="padding-left: 16px">
            <md-datepicker ng-model="day" md-min-date="today" ng-change="updateDate($index, day.date)" md-placeholder="Before to" style="padding-top: 1px" name="OTdate" no-matching-dates="{[{overtimeList}]}"></md-datepicker>
        <md-radio-group ng-model="wholeOrHalfDay" style="margin-left: 50px">
            <md-radio-button value="wholeDay" class="md-primary">Full day</md-radio-button>
            <md-radio-button value="halfDay">Half day</md-radio-button>
        </md-radio-group>
        </md-list-item>
        <md-list-item layout-lg="row" layout-xl="row">
            <md-input-container class="md-block" style="width: 100%;">
                <label>Reasons*</label>
                <textarea ng-model="reasons" name="workAtHomeReasons" md-maxlength="250" rows="3" style="overflow-y: scroll;" md-select-on-focus required></textarea>
                <div ng-messages="workAtHomeForm.workAtHomeReasons.$error">
                    <div ng-message="required">You have to specify a reason to justify the trip</div>
                </div>
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-button class="md-raised md-primary" style="margin-top: 40px" ng-click="submitting(vacationForm, vacationForm)">Send</md-button><!--si se le da un href o ng-href se comportará como un <a> https://material.angularjs.org/latest/api/directive/mdButton-->
<!--            <md-button class="md-raised md-primary" style="margin-top: 40px" ng-click="showData()">Ver datos</md-button>-->
            <md-button class="md-raised md-primary" style="margin-top: 40px" ng-disabled="overtimeHoursForm.$invalid">Valid</md-button><!--si se le da un href o ng-href se comportará como un <a> https://material.angularjs.org/latest/api/directive/mdButton-->
        </md-list-item>
    </md-list>
</div>