<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Intranet WebCuisine{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/images/icon2.ico') }}" /> <!--  href="{{ asset('favicon.ico') }}"  -->
    </head>
    <body style="overflow-y:hidden;">
        {% block cabecera %}{% endblock %}
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
