{# extends 'intranetBundle::layout.html.twig' #}

 {% block contenido %}

<!--
<table border=1>
<tr>
    <th>DATE</th>
    <th>HOUR</th>
    <th>TITLE</th>
    <th>CONTENT</th>
</tr>
{# for n in new #}
<tr>
    <td style="padding-left: 10px;padding-right: 10px;">{#{ n.date|date('Y-m-d')  }#}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{#{ n.time|date('H:i') }#}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{#{ n.title }#}</td>
    <td style="padding-left: 10px;padding-right: 10px;">
          <form action='{#{ path('intranet_crudnew') }#}' method='post'>
                <input type="submit" value="VER" >
                <input type="hidden" value="{#{ n.content }#}" name="content">
          </form>
    </td>
</tr>
{# endfor #}
</table>
-->


<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css">
<link rel="stylesheet" type="text/css" href="https://material.angularjs.org/1.1.0-rc.5/docs.css">
<style>
    #container {
        height: 292px;
        //height: 500px;
        width: 100%;
        max-width: 100%;
        border: 1px solid black;
        overflow-y: scroll;
        overflow-x: hidden;
    }

</style>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
-->


<div ng-app="newsFeedApp" class="" id="newsFeedApp">
 <div ng-controller="feedsController"><!-- ng-init="populateChannelsList()"-->
    <md-input-container class="md-block" flex-gt-sm style="width: 200px;" ng-init="populateChannelsList()">
        <md-select ng-model="channelSelected" ng-change="updateFeedList()">
            <md-option ng-repeat="channel in userChannels" value="{[{channel}]}">
                {[{channel}]}
            </md-option>
        </md-select>
    </md-input-container>
    <div ng-cloak>
        <md-content layout="column" id="container">
          <md-list id="newsList">
              <md-list-item ng-repeat="new in news">
                  <div class="md-list-item-text" layout="column">
                      <span style="font-size:large; color:#2196F3;">{[{new.title}]}</span>
                      <span style="font-size:x-small; color:lightgrey;">{[{new.date}]} - {[{new.time}]}</span>
                      <div style="font-size:medium; max-width: 210px; word-wrap: break-word;" class='ellipsis-text'>
                          {[{new.content}]}
<!--                          <a class="more" href="#">More</a>-->
                      </div>
                  </div>
                  <md-divider></md-divider>
              </md-list-item>
              <md-button class="md-raised md-primary" ng-click="getNews()" ng-disabled="loading">More</md-button>
            </md-list>
        </md-content>
    </div>
     </div>
</div>
<script>

    var app = angular.module('newsFeedApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);
    app.controller('feedsController', feedsController);
    app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    function feedsController($scope, $http) {

        $scope.loading = true;
        $scope.channelSelected = 'All';
        $scope.userChannels = ['All'];
        $scope.news = [];
        var offset = 0;
        $scope.populateChannelsList = function(){

            $http({
                method: 'GET',
                url: 'http://localhost/intranettestversion/web/app_dev.php/api/users/imar1i/channels',
                dataType: 'json',
                headers: {'Content-Type': 'application/json'}
            })
            .then(function success(response){
                $.each(response.data, function(key, elem){
                    $scope.userChannels.push(elem.name);
                });
                //$scope.channelSelected = $scope.userChannels.join();
                //$scope.channelSelected = $scope.userChannels[0];
                console.log($scope.userChannels);
                $scope.getNews();
            },function error(response){
                console.log(response.statusText);
            });
        }

        $scope.updateFeedList = function(){

            offset = 0;
            $scope.news = [];
            $scope.getNews();
        };

        $scope.getNews = function(){

            $scope.loading = true;

            if ($scope.channelSelected == 'All')
                 var channel = $scope.userChannels.slice(1, $scope.userChannels.length);
            else
                 var channel = $scope.channelSelected;

            $http({
                method: 'POST',
                url: 'http://localhost/intranetTestVersion/web/app_dev.php/api/news/'+channel,
                data: {
                    offset: offset,
                    numResults: 10
                },
                dataType: 'json',
                headers: {'Content-Type': 'application/json'}
            })
            .then(function success(response){
                $scope.news = $scope.news.concat(response.data);
                offset += 10;
                $scope.loading = !$scope.loading;
            },function error(response){
                console.log(response.statusText);
            });
        };


    };

    angular.bootstrap(document.getElementById("newsFeedApp"), ['newsFeedApp']);
</script>




{% endblock %}
