<md-list-item>
    <md-input-container>
        <label>Start date</label>
        <input value="{[{form.date1 | date:'dd/MM/yyyy'}]}" disabled="">
    </md-input-container>
    <md-input-container>
        <label>Finish date</label>
        <input value="{[{form.date2 | date:'dd/MM/yyyy'}]}" disabled="">
    </md-input-container>
</md-list-item>
<md-list-item>
    <md-input-container>
        <label>Location</label>
        <input value="{[{form.place}]}" disabled="">
    </md-input-container>
    <md-input-container>
        <label>Congress name</label>
        <input value="{[{form.nameCongress}]}" disabled="">
    </md-input-container>
</md-list-item>
<md-list-item>
    <md-input-container flex-gt-xs>
        <label>Reasons</label>
        <textarea class="dialogTextarea" rows="4" disabled="">{[{form.reasons}]}</textarea>
    </md-input-container>
</md-list-item>