<md-list-item>
    <md-input-container>
        <label>Seller company</label>
        <input value="{[{form.company}]}" disabled="">
    </md-input-container>
    <md-input-container>
        <label>Before to</label>
        <input disabled="" value="{[{form.date1 | date:'dd/MM/yyyy'}]}">
    </md-input-container>
</md-list-item>
<md-list-item>
    <md-input-container>
        <label>Amount</label>
<!--        <input value="{[{form.amount | currency : € : 0}]}" disabled="">-->
        <input value="{[{form.amount}]} €" disabled="">
    </md-input-container>
    <md-input-container>
        <label>Concept</label>
        <input disabled="" value="{[{form.concept}]}">
    </md-input-container>
</md-list-item>