<md-list-item>
    <md-input-container>
        <label>JIRA ticked ID</label>
        <input value="{[{form.ticket}]}" disabled="">
    </md-input-container>
</md-list-item>
<md-list-item ng-repeat="day in daysList">
    <md-input-container>
        <label>Date</label>
        <input value="{[{day.date1 | date:'dd/MM/yyyy'}]}" disabled="">
    </md-input-container>
    <md-input-container>
        <label>Hours</label>
        <input value="{[{day.hour}]}" disabled="">
    </md-input-container>
    <md-input-container>
        <label>Minutes</label>
        <input value="{[{day.minutes}]}" disabled="">
    </md-input-container>
</md-list-item>
<md-list-item>
    <md-input-container flex-gt-xs>
        <label>Reasons</label>
        <textarea class="dialogTextarea" rows="4" disabled="" style="overflow-y: scroll; height: auto !important;">{[{form.reasons}]}</textarea>
    </md-input-container>
</md-list-item>
