{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<script>
            var app = angular.module('MyApp',['ngRoute', 'ngMaterial', 'ngMessages', 'material.svgAssetsCache', 'ngMdIcons']);
            app.config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
            });

            app.controller('channelController', channelController);
            app.controller('updateChannelDialogController', updateChannelDialogController);
            app.controller('createChannelDialogController', createChannelDialogController);
            
            
            function channelController($scope, $mdDialog, $http){
                $scope.getAllChannels = function(){
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/channels',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        $scope.channelsList = response.data;
                        console.log($scope.channelsList);
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                }

                $scope.showUpdateChannelDialog = function(ev, channel) {
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_main_channel_dialog')}}",
                        locals: {
                            currentChannel: channel
                        }, 
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: updateChannelDialogController,
                        onRemoving: $scope.getAllChannels
                    });
                }

                $scope.deleteChannel = function(ev, channel){
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_delete_dialog')}}",
                        locals: {
                            currentChannel: channel
                        }, 
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: deleteChannelDialogController,
                        onRemoving: $scope.getAllChannels
                    });
                }

                $scope.showCreateChannelDialog = function(ev) {
                    
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_main_create_channel_dialog')}}",
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: createChannelDialogController,
                        onRemoving: $scope.getAllChannels
                    });
                }
            }


            function createChannelDialogController($scope, $mdDialog, $http, $mdToast){

                $listChecked=[];

                $scope.getInfo = function(){
                    
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/users',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        $scope.allUsers = response.data;
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };
                
                $scope.closeDialog = function() {
                    $mdDialog.hide();
                };

                $scope.alreadyIn = function(user){
                    return ($listChecked).indexOf(user.login) > -1;
                };
                
                $scope.toggle = function(user){
                    var index = ($listChecked).indexOf(user.login);

                    if (index > -1){
                        ($listChecked).splice(index, 1);
                    }
                    else{
                        ($listChecked).push(user.login);
                    }
                    //console.log($listChecked);
                };  

                $scope.create=function(){
                    
                //We must see if another channel exists already with the same name
                $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/channels',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        $scope.channelsList2 = response.data;
                        $flag_all=0;
                        for (i = 0; i < $scope.channelsList2.length; i++) {
                            //console.log($scope.channelsList2[i].name);
                            if($scope.channelsList2[i].name!=$scope.channel.name){
                                $flag_all+=1;
                            }else{break;}
                        }
                        if($flag_all==$scope.channelsList2.length){
                            $notID=-1;
                                $http({
                                    method: 'POST',
                                    url: window.location.pathname+'/../../api/channel/'+$notID,
                                    data: {
                                        name: $scope.channel.name,
                                        usersInChannel: $listChecked
                                    },
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    headers: {'Content-Type': 'application/json'}
                                })
                                .then(function success(response){
                                    console.log("Party time");
                                    $scope.closeDialog();
                                }, function error(response){
                                    //console.log("Error:" +response.statusText);
                                });
                        }else{$scope.showSimpleToast();}
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };     
                var last = {
                    bottom: false,
                    top: true,
                    left: false,
                    right: true
                  };

                  $scope.toastPosition = angular.extend({},last);

                  $scope.getToastPosition = function() {
                    return Object.keys($scope.toastPosition)
                      .filter(function(pos) { return $scope.toastPosition[pos]; })
                      .join(' ');
                  };      

                  $scope.showSimpleToast = function() {
                    
                    var pinTo = $scope.getToastPosition();
                    $mdToast.show(
                      $mdToast.simple()
                        .textContent('{% trans %}YA EXISTE UN CANAL LLAMADO {% endtrans %} '+$scope.channel.name)
                        .position(pinTo )
                        .hideDelay(5000)
                    );
                  };   
            }

            function updateChannelDialogController($scope, $mdDialog, $http, currentChannel){
                $scope.channel = currentChannel;
                $scope.getInfo = function(){
                    
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/channel/'+$scope.channel.name+'/users',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        $scope.allData = {
                            "channelData": response.data.channelData,
                            "channelUsers": $.map(response.data.usersInChannel, function(elem){return elem.login}),
                            "allUsers": response.data.allUsers
                        };
                        
                        console.log($scope.allData.allUsers);

                        $scope.allUsers = $scope.allData.allUsers;
                        $scope.usersInChannel = $scope.allData.allUsers.filter(function(user){
                            
                            if (($scope.allData.channelUsers).indexOf(user.login) > -1)
                                return user;
                        });
                       
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };
                
                $scope.closeDialog = function(){
                    $mdDialog.hide();
                 };

                $scope.alreadyIn = function(user){
                    
                    return ($scope.allData.channelUsers).indexOf(user.login) > -1;
                };
                
                $scope.toggle = function(user){
                 
                    var index = ($scope.allData.channelUsers).indexOf(user.login);
                    
                    if (index > -1)
                        ($scope.allData.channelUsers).splice(index, 1);
                    else
                        ($scope.allData.channelUsers).push(user.login);
                };

               $scope.update=function(id){
                    //alert($scope.allData.channelUsers);
                    //Recoger los datos del modal y pasarlos a la bd mediante AJAX?
                    $http({
                            method: 'PATCH',
                            url: window.location.pathname+'/../../api/channel/'+$scope.channel.id,
                            data: {
                                name: $scope.channel.name,
                                usersInChannel: $scope.allData.channelUsers
                            },
                            contentType: 'application/json',
                            dataType: 'json',
                            headers: {'Content-Type': 'application/json'}
                        })
                        .then(function success(response){
                            console.log("Party time");
                            $scope.closeDialog();
                        }, function error(response){
                            console.log("Error:" +response.statusText);
                        }
                    );   
                 };   
            }      
        
            function deleteChannelDialogController($scope, $mdDialog, $http, currentChannel){
                $scope.channel = currentChannel;
                $scope.getInfo = function(){
                    
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/channel/'+$scope.channel.id,
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        $scope.allData = {
                            "channelData": response.data
                        };
                       
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };
                
                $scope.closeDialog = function(){
                    $mdDialog.hide();
                 };


               $scope.delete=function(){
                    $http({
                        method: 'DELETE',
                        url: window.location.pathname+'/../../api/channel/'+$scope.channel.id,
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                         $scope.closeDialog();
                    }, function error(response){
                        console.log("Error al delete:" +response.statusText);
                    });  
                 };   
            }
</script>
















<div ng-cloak ng-app="MyApp" ng-controller="channelController" layout-align="center start">
    
    <md-list ng-init="getAllChannels()">
    <md-button class="md-raised md-primary" ng-click="showCreateChannelDialog($event)">New Channel</md-button>
        <md-divider></md-divider>
        <md-divider></md-divider>

        <md-list-item style="font-size: large" ng-model="prueba">
            <span style="width: 100%">Name</span><!--
            <span style="width: 50%">Login</span>-->
        </md-list-item>

        <md-divider></md-divider>
        <md-divider></md-divider>

        <div ng-repeat="channel in channelsList">
            <md-list-item ng-click="showUpdateChannelDialog($event, channel)">
    
                <span style="width: 100%">{[{channel.name}]}</span>
                <!--<span style="width: 50%">{[{user.login}]}</span>-->
                <div>
                    <md-button style="width: 10%" class="md-raised md-warn md-secondary" ng-click="deleteChannel($event, channel)">
                        Delete <!--{[{channel.name}]}-->
                    </md-button> 
                </div>
            
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</div>




{% endblock %}
