{% extends 'intranetBundle::layout.html.twig' %}


{% block contenido %}
<h2>{% trans %}langing_page_title{% endtrans %}</h2>
{% trans %}landing_page_subtitle{% endtrans %} <i>{%trans%}landing_1{%endtrans%}</i>
<hr>
{%trans%}landing_2{%endtrans%}<br><br>
	<b>Login	 </b>  /<i>language</i>/intranet_logout<br>
	<b>Channel</b>  /<i>language</i>/channels<br>
	<b>News	  </b> /<i>language</i>/news<br>
	<b>Tasks	 </b>  /<i>language</i>/tasks<br>
  <b>User Management	 </b>  /<i>language</i>/userManagement<br>
<br>The language can be /es/, /en/ or /fr/

<span ng-app="ficticiusCtrl"><span>
<script>
//Given that "newsFeedApp" controller is always the second controlled added, it needs to be bootstrapped but given that in this page there isn't any controller needed we have to include this ficticious controller first.
var app = angular.module('ficticiusCtrl',['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);
</script>

{% endblock %}
