{% extends 'intranetBundle::layout.html.twig' %}

{% block contenido %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script>
    var app=angular.module('settingsApp', ['ngMaterial']);
    app.controller('settingsController', settingsController);

    function settingsController ($scope,$http, $mdToast) { 
       var userLogin = ("{{me.login | json_encode()}}").replace(/&quot;/g, "");     

       $scope.showphoto = function(){
       alert(subida3);
           if (window.File && window.FileReader && window.FileList && window.Blob) {
              alert("Great success! All the File APIs are supported.");
            } else {
              alert('The File APIs are not fully supported in this browser.');
            }
       }  

        $scope.getCurrentUser = function(){
                    
            $http({
                method: 'GET',
                url: window.location.pathname+'/../../api/user/'+userLogin,
                dataType: 'json',
                headers: {'Content-Type': 'application/json'}
            })
            .then(function success(response){
                
                $scope.user = response.data;
                console.log($scope.user);
            }, function error(response){
                console.log("Error:" +response.statusText);
            });
        }
        
        $scope.updateUser=function(login){

            $http({
                    method: 'PATCH',
                    url: window.location.pathname+'/../../api/user/'+login,
                    data: {
                        name: $scope.user.name,
                        surname: $scope.user.surname,
                        email: $scope.user.email,
                        lang: $scope.user.lang,
                        photo: $scope.user.photo,
                        onboard: $scope.user.onboard,
                        notifications: $scope.user.notifications
                    },
                    contentType: 'application/json',
                    dataType: 'json',
                    headers: {'Content-Type': 'application/json'}
                })
                .then(function success(response){
                    console.log("Party time");
                    $scope.showSimpleToast();
                    
                }, function error(response){
                    console.log("Error:" +response.statusText);
                }
            ); 
                
        }

        
            var last = {
                bottom: false,
                top: true,
                left: false,
                right: true
              };

              $scope.toastPosition = angular.extend({},last);

              $scope.getToastPosition = function() {
                return Object.keys($scope.toastPosition)
                  .filter(function(pos) { return $scope.toastPosition[pos]; })
                  .join(' ');
              };      

              $scope.showSimpleToast = function() {
                
                var pinTo = $scope.getToastPosition();
                $mdToast.show(
                  $mdToast.simple()
                    .textContent('{% trans %}modified_yourself{% endtrans %}')
                    .position(pinTo )
                    .hideDelay(10000)
                );
              };  
        
    }    

    app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
            
</script>


<div  ng-app="settingsApp" ng-controller="settingsController" layout="row" layout-align="center start">
    <form name="settingsForm" id="settingsForm" method="POST" novalidate>
    <!--{{ path('intranet_cruduser') }}-->
    
    <md-content ng-init="getCurrentUser()">
        <md-list layout="column" ng-cloak="">
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Name{% endtrans %}</label>
                        <input type='text' name="myName" id="myName" ng-model="user.name" required="required">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify a seller.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>            
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Surname{% endtrans %}</label>
                        <input type='text' id="mySurname" name="mySurname" ng-model="user.surname">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify a seller.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Language{% endtrans %}</label><br><br>
                        <md-radio-group ng-model="user.lang" >
                            <md-radio-button id="myLanguage" name="myLanguage" value="es" class="md-primary">
                                ES
                            </md-radio-button>
                                
                            <md-radio-button id="myLanguage" name="myLanguage" value="en" class="md-primary">
                                EN
                            </md-radio-button>
                                
                            <md-radio-button id="myLanguage" name="myLanguage" value="fr" class="md-primary">
                                FR
                            </md-radio-button>
                                
                            <md-radio-button id="myLanguage" name="myLanguage" value="de" class="md-primary">
                                DE
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Notifications{% endtrans %}</label><br><br>
                        <md-checkbox ng-model="user.notifications" id="myNotifications" aria-label="Checkbox 1" class="md-primary">
                            {% trans %}Recibir Notificaciones{% endtrans %}
                        </md-checkbox>
                    </md-input-container>
                </md-list-item>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>Onboard</label><br><br>
                        <md-checkbox ng-model="user.onboard" id="onb" aria-label="Checkbox 2" class="md-primary">
                            {% trans %}Usuario nuevo{% endtrans %}
                        </md-checkbox>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>

        <div layout="row" layout-sm="column">
            <div flex>
             <md-list-item layout-lg="row" layout-xl="row">
                <md-input-container class="md-block">
                    <label>{% trans %}Photo{% endtrans %}</label><br>                  
                    
                    <input id="picture" name="picture" type="file" class="ng-hide" ng-model="picture" multiple>
                    <img class="md-avatar" id="photo" src="../../images/{[{user.photo}]}" style="border: 1px solid black; height: 70px; width: 70px;"/> {[{user.photo}]}
                    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
                    <script>
                    
                        $('#photo').click(function(){                        
                            $('input[type=file]').click();
                        });
                        
                        
                        $('#photo').hover(function(){
                            $(this).css('opacity', '0.5');
                        }, function(){
                            $(this).css('opacity', '1');
                        });
                    </script>
                </md-input-container>


                <md-input-container class="md-block">
                    <md-button class="md-raised md-primary" ng-click="showphoto()">
                </md-input-container>
                <hr>

                <md-button>
                    <label for="files">
                       <img class="md-avatar" id="photo" src="../../images/{[{user.photo}]}" style="border: 1px solid black; height: 70px; width: 70px;"/>BUTTOn
                    </label>  
                </md-button>
                <input id="files" name="file-input" type="file" style="display:none;">
            </md-list-item>
            </div>
        </div>
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Email{% endtrans %}</label>
                        <input type='text' name="myEmail" id="myEmail" ng-model="user.email" required="required" style="width: 250px;">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify an email.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
        </div> 

        <md-list-item>
            <md-button class="md-raised md-primary" id="subm" type="submit" name="update" ng-disabled="settingsForm.$invalid" ng-click="updateUser(user.login)">
                {% trans %}Modify{% endtrans %}
            </md-button>
        </md-list-item>
        </md-list>
    </form>
</div>

{% endblock %}
