{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

<script>
            var app = angular.module('MyApp',['ngRoute', 'ngMaterial', 'ngMessages', 'material.svgAssetsCache', 'ngMdIcons']);
            app.config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
            });

            app.controller('userManagementController', userManagementController);
            app.controller('updateUserDialogController', updateUserDialogController);


            function userManagementController($scope, $mdDialog, $http){
                $scope.getAllUsers = function(){
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/users',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        $scope.usersList = response.data;
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                }

                $scope.showUpdateUserDialog = function(ev, user) {
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_main_userManagement_dialog')}}",
                        locals: {
                            currentUser: user
                        },
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: updateUserDialogController,
                        onRemoving: $scope.getAllUsers
                    });

                }

                $scope.deleteUser = function(ev, user){
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_delete_dialog')}}",
                        locals: {
                            currentUser: user
                        },
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: deleteUserDialogController,
                        onRemoving: $scope.getAllUsers
                    });
                }
            }


            function updateUserDialogController($scope, $mdDialog, $http, currentUser){
                $scope.user = currentUser;

                $scope.getInfo = function(){

                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/user/'+$scope.user.login,
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){

                        $scope.allData = {
                            "userData": response.data.userData
                        };


                    }, function error(response){
                        console.log("Error =( line:84:" +response.statusText);
                    });



                };

                $scope.closeDialog = function() {
                    $mdDialog.hide();
                };



                $scope.updateUser=function(id){

                    $http({
                            method: 'PATCH',
                            url: window.location.pathname+'/../../api/user/'+$scope.user.login,
                            data: {
                                name: $scope.user.name,
                                surname: $scope.user.surname,
                                email: $scope.user.email,
                                lang: $scope.user.lang,
                                photo: $scope.user.photo,
                                onboard: $scope.user.onboard,
                                notifications: $scope.user.notifications
                            },
                            contentType: 'application/json',
                            dataType: 'json',
                            headers: {'Content-Type': 'application/json'}
                        })
                        .then(function success(response){
                            $scope.closeDialog();
                        }, function error(response){
                            console.log("Error:" +response.statusText);
                        });

                    }
            }

            function deleteUserDialogController($scope, $mdDialog, $http, currentUser){
                $scope.user = currentUser;

                $scope.closeDialog = function(){
                    $mdDialog.hide();
                 };


               $scope.delete=function(){
                    $http({
                        method: 'DELETE',
                        url: window.location.pathname+'/../../api/user/'+$scope.user.login,
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                         $scope.closeDialog();
                    }, function error(response){
                        console.log("Error al borrar:" +response.statusText);
                    });
                 };
            }
</script>






<div ng-cloak ng-app="MyApp" ng-controller="userManagementController" layout-align="center start" style="width: 80%;">

    <md-list ng-init="getAllUsers()">
        <md-divider></md-divider>
        <md-divider></md-divider>

        <md-list-item style="font-size: large" ng-model="prueba">
            <span style="width: 50%">{% trans %}current_user{% endtrans %}</span>
            <span style="width: 50%">Login</span>
        </md-list-item>

        <md-divider></md-divider>
        <md-divider></md-divider>

        <div ng-repeat="user in usersList">
            <md-list-item ng-click="showUpdateUserDialog($event, user)">

                <span style="width: 50%">{[{user.name}]} {[{user.surname}]}</span>
                <span style="width: 50%">{[{user.login}]}</span>
                <div>
                    <md-button style="width: 10%" class="md-raised md-secondary" ng-click="deleteUser($event, user)">
                        <md-icon md-svg-src="{{ asset('bundles/intranet/icons/ic_delete_black_24px.svg') }}" aria-label="android "></md-icon>
                    </md-button>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</div>

{% endblock %}
